/* CryptoDashboard.css */

.CryptoDashboard {
  font-family: Arial, sans-serif;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.chart-type-selector {
  margin: 20px 0;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 80vw;
}

.crypto-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.crypto-icon {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s;
}

.crypto-icon:hover {
  transform: scale(1.1);
}

.crypto-image {
  width: 50px;
  height: 50px;
}

.crypto-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}

.crypto-card {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-right: 20px;
  width: 300px;
}

.comparison-window {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.comparison-window h3 {
  margin-bottom: 20px;
}

.comparison-item {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comparison-item p {
  margin: 0;
  font-weight: bold;
  color: #333;
}
